<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';
import { Link } from '@inertiajs/vue3';

defineProps({
    clients: Object,
    pagesCount: Number,
    currentPage: Number,
    message: String,
});
</script>

<template>
    <AppLayout title="Clients">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Clients
            </h2>
        </template>

        <div>
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8 mt-10 pb-5">
                <div class="flex justify-end">
                    <Link :href="route('clients.create')"
                        class="align-middle self-end select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-4 px-6 rounded-lg bg-gray-900 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none"
                        type="button"
                        >
                        Create
                    </Link>
                </div>
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg mt-5">
                    <div
                    class="relative flex flex-col w-full h-full overflow-scroll text-gray-700 bg-white shadow-md rounded-xl bg-clip-border">
                        <table class="w-full text-left table-auto min-w-max">
                            <thead>
                            <tr>
                                <th class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">
                                <p class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70">
                                    ID
                                </p>
                                </th>
                                <th class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">
                                <p class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70">
                                    Company Name
                                </p>
                                </th>
                                <th class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">
                                <p class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70">
                                    Primary Contact
                                </p>
                                </th>
                                <th class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">
                                <p class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70">
                                    Type
                                </p>
                                </th>
                                <th class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">
                                <p class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70"></p>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="client in clients" :key="client.id">
                                <td class="p-4 border-b border-blue-gray-50">
                                <p class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                                    {{ client.id }}
                                </p>
                                </td>
                                <td class="p-4 border-b border-blue-gray-50">
                                <p class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                                    {{ client.company_name }}
                                </p>
                                </td>
                                <td class="p-4 border-b border-blue-gray-50">
                                <p class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                                    {{ client.primary_contact_name }}
                                </p>
                                </td>
                                <td class="p-4 border-b border-blue-gray-50">
                                <p v-if="client.type_id === 1" class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                                    Person
                                </p>
                                <p v-else class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                                    Company
                                </p>
                                </td>
                                <td class="p-4 border-b border-blue-gray-50">
                                <a :href="route('clients.edit', client.id)" class="block font-sans text-sm antialiased font-medium leading-normal text-blue-gray-900">
                                    Edit
                                </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg mt-5">
                    <div class="flex items-center justify-between border-blue-gray-50 m-5">
                        <p class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                        Page {{ currentPage }} of {{ pagesCount }}
                        </p>
                        <div class="flex gap-2">
                        <Link
                            :href="`clients?page=${currentPage === 1 ? currentPage : currentPage - 1}`"
                            class="select-none rounded-lg border border-gray-900 py-2 px-4 text-center align-middle font-sans text-xs font-bold uppercase text-gray-900 transition-all hover:opacity-75 focus:ring focus:ring-gray-300 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                            type="button">
                            Previous
                        </Link>
                        <Link
                        :href="`clients?page=${currentPage === pagesCount ? currentPage : currentPage + 1}`"
                            class="select-none rounded-lg border border-gray-900 py-2 px-4 text-center align-middle font-sans text-xs font-bold uppercase text-gray-900 transition-all hover:opacity-75 focus:ring focus:ring-gray-300 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                            type="button">
                            Next
                        </Link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </AppLayout>
</template>
